body {
    background-color: beige;
}



/* .projets-containerStage:hover {
    color: wheat;
} */



.boutonProjetStage1, .boutonProjetStage2{
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: grey;
	text-decoration: none;
	border-radius: 5px;
	border: none;
}

.bouton:hover {
	background-color: #666;
}


.ProjetStage1, .ProjetStage2 {
	width: 50%;
	height: auto;
	float: left;
	box-sizing: border-box;
	/* Pour inclure les bordures et les padding dans la largeur et la hauteur */
}




/* containeur 1 Projet 1 première div */


.ProjetStage1, .ProjetStage2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* font-size: 150%; */
}


.ImageStage1, .ImageStage2 {
	padding-top: 10px;
	width: 75%;
	height: 100%;
}



.projets-containerStage, .projets-containerStage2 {
	display: flex;
	justify-content: flex-end;
}


.Projet1StageDescription, .Projet2StageDescription {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Projet1StageDescription .boutonProjet1 {
	display: inline-block;
	background-color: blue;
	color: white;
	/* margin-top: 25%; */
	
}

.Projet2StageDescription .boutonProjet2 {
	display: inline-block;
	background-color: blue;
	color: white;
	/* margin-top: 25%; */
	
}